@import './variables.scss';
@import '../search.scss';

:root {
    --leaflet-sidetabs-width-s: 325px;
    --leaflet-sidetabs-width-m: 325px;
    --leaflet-sidetabs-width-l: 325px;
    --breakpoint-s: 768px;
    --breakpoint-m: 992px;
    --breakpoint-l: 1200px;
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: inherit;
    z-index: 999;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .65);
    color: #90989B;
}

.sidebar.collapsed {
    width: 60px
}

@media (min-width: $screen-small ) and (max-width: $screen-medium ) {
    .sidebar {
        width: var(--leaflet-sidetabs-width-s);
    }
    .sidebar-pane {
        min-width: 265px
    }
}

@media (min-width: $screen-medium ) and (max-width: $screen-large ) {
    .sidebar {
        width: var(--leaflet-sidetabs-width-m);
    }
}

@media (min-width: $screen-large) {
    .sidebar {
        width: var(--leaflet-sidetabs-width-l);
    }
}

.sidebar-left {
    left: 0
}

.sidebar-right {
    right: 0
}

@media (min-width:768px) {
    .sidebar {
        top: 81px;
        bottom: 10px;
        transition: width .5s
    }
    .sidebar-left {
        left: 20px
    }
    .sidebar-right {
        right: 10px
    }
}

.sidebar-tabs {
    top: 0;
    bottom: 0;
    height: 100%;
    background-color: #033564;
}

.sidebar-tab-button {
    cursor: pointer;
}

.sidebar-left .sidebar-tabs {
    left: 0
}

.sidebar-right .sidebar-tabs {
    right: 0
}

.sidebar-tabs, .sidebar-tabs>ul {
    position: absolute;
    width: 60px;
    margin: 0;
    padding: 0
}

.sidebar-tabs>li, .sidebar-tabs>ul>li {
    width: 100%;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 12pt;
    overflow: hidden;
    transition: all 80ms
}

.sidebar-tabs>li:hover, .sidebar-tabs>ul>li:hover {
    color: #000;
    background-color: #001f3d;
}

.sidebar-tabs>li.active, .sidebar-tabs>ul>li.active {
    color: #fff;
    background-color: #001f3d;
}

.sidebar-tabs>li.disabled, .sidebar-tabs>ul>li.disabled {
    color: rgb(255, 255, 255)
}

.sidebar-tabs>li.disabled:hover, .sidebar-tabs>ul>li.disabled:hover {
    background: 0 0
}

.sidebar-tabs>li.disabled>a, .sidebar-tabs>ul>li.disabled>a {
    cursor: default
}

.sidebar-tabs>li>button, .sidebar-tabs>ul>li>button {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 0px;
    color: inherit;
    text-decoration: none;
    text-align: center;
    padding: 0px;
}

.sidebar-tabs>ul+ul {
    bottom: 0
}

.sidebar-content {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #001f3dd4;
    overflow-x: hidden;
    overflow-y: auto
}

.sidebar-left .sidebar-content {
    left: 60px;
    right: 0
}

.sidebar-right .sidebar-content {
    left: 0;
    right: 40px
}

.sidebar.collapsed>.sidebar-content {
    overflow-y: hidden
}

.sidebar-pane {
    display: none;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 10px 20px
}

.sidebar-pane.active {
    display: block
}

.sidebar-header {
    text-align: left;
    margin: -10px -20px 0;
    height: 30px;
    padding: 0 20px;
    line-height: 55px;
    font-size: 14pt;
    color: #90989B;
    font-weight: bold;
}

.sidebar-right .sidebar-header {
    padding-left: 40px
}

.sidebar-close {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer
}

.sidebar-left .sidebar-close {
    right: 6px
}

.sidebar-right .sidebar-close {
    left: 0
}

.sidebar-left~.sidebar-map {
    margin-left: 40px
}

.sidebar-right~.sidebar-map {
    margin-right: 40px
}

.sidebar.leaflet-touch {
    box-shadow: none;
    .sidebar-left~.sidebar-map .leaflet-left {
        left: 315px
    }
    .sidebar-right~.sidebar-map .leaflet-right {
        right: 315px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .sidebar-pane {
        min-width: 350px
    }
    .sidebar-left~.sidebar-map .leaflet-left {
        left: 400px
    }
    .sidebar-right~.sidebar-map .leaflet-right {
        right: 400px
    }
}


@media (min-width:768px) {
    .sidebar-left~.sidebar-map {
        margin-left: 0
    }
    .sidebar-right~.sidebar-map {
        margin-right: 0
    }
    .sidebar {
        border-radius: 4px
    }
    .sidebar.leaflet-touch {
        border: 2px solid rgba(0, 0, 0, .2)
    }
    .sidebar-left~.sidebar-map .leaflet-left {
        transition: left .5s
    }
    .sidebar-left.collapsed~.sidebar-map .leaflet-left {
        left: 50px
    }
    .sidebar-right~.sidebar-map .leaflet-right {
        transition: right .5s
    }
    .sidebar-right.collapsed~.sidebar-map .leaflet-right {
        right: 50px
    }
}


.sidebar-tabs>li>button, .sidebar-tabs>ul>li>button {
    background-color: transparent;
    border: none;
}

/* Rehomed controls css, if props.rehomeControls is true */
.rehomed-top-left, .rehomed-bottom-left {
    .collapsed & {
        left: 40px;
    }
    transition: left 500ms;
}

.rehomed-top-right, .rehomed-bottom-right {
    .collapsed & {
        right: 40px;
    }
    transition: right 500ms;
}

.rehomed-top-left, .rehomed-top-right {
    .leaflet-control:first-child {
        margin-top: 0;
    } 
}

.rehomed-bottom-left, .rehomed-bottom-right {
    .leaflet-control:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: $screen-small ) {
    .rehomed-top-left, .rehomed-bottom-left,
    .rehomed-top-right, .rehomed-bottom-right{
        display: none;
    }
}

@media (min-width: $screen-small ) and (max-width: $screen-medium ) {
    .rehomed-top-left, .rehomed-bottom-left {
        left: var(--leaflet-sidetabs-width-s);
    }
    .rehomed-top-right, .rehomed-bottom-right{
        right: var(--leaflet-sidetabs-width-s);
    }
}

@media (min-width: $screen-medium ) and (max-width: $screen-large ) {
    .rehomed-top-left, .rehomed-bottom-left {
        left: var(--leaflet-sidetabs-width-m);
    }
    .rehomed-top-right, .rehomed-bottom-right{
        right: var(--leaflet-sidetabs-width-m);
    }
}

@media (min-width: $screen-large) {
    .rehomed-top-left, .rehomed-bottom-left {
        left: var(--leaflet-sidetabs-width-l);
    }
    .rehomed-top-right, .rehomed-bottom-right{
        right: var(--leaflet-sidetabs-width-l);
    }
}

/* Legend */
.legend-section {
    z-index: 999;
    width: 269px;
    height: 245px;
    position: absolute;
    color: #fff;
    bottom: 0px;   
    // background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0,0.9));
    background: rgba(103, 103, 103, 0.3);
    backdrop-filter: blur(112px);
    border-radius: 5px;
  }
  .legend-section-lulc {
    z-index: 999;
    width: 300px;
    position: absolute;
    color: #fff;
    bottom: 0px;   
    background-image: linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0,0.9));
  }

.tab-legend {
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.sidebar-left .tab-legend {
    left: 330px;
    transition: left .5s
}

.sidebar.collapsed>.tab-legend {
    left: 60px;
    transition: left .5s
}
.layer-header{
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .sidebar.leaflet-touch {
        box-shadow: none;
        top: 150px;
        bottom: 50px;
        z-index: 9999;
    }
    .ant-drawer.ant-drawer-right.ant-drawer-open.no-mask{
        width: 100% !important;
        z-index: 99999;
    }

    .selection-collapsed {
        width: 95px;
        position: absolute;
        right: 246px;
        top: 80px;
        z-index: 999;
    }
     .sidebar{
        display: none;
    }
  }

  .toggleButton{
    position: relative;
    right: 200px;
  }