.input-container {
    position: relative;
    margin-bottom: 25px
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: #fff;
    pointer-event: none;
    transition: all .5s ease-in-out
}

.input-container input {
    border: 0;
    border-bottom: 1px solid #555;
    background: 0 0;
    width: 100%;
    padding: 8px 0 5px 0;
    font-size: 16px;
    color: #fff
}

.input-container input:focus {
    border: none;
    outline: 0;
    border-bottom: 1px solid #e74c3c
}

.input-container input:focus~label,
.input-container input:valid~label {
    top: -12px;
    font-size: 12px
}