*.DS_Store
.DS_Store
Geospatial Data Science Internship/Datasets/ESRI Land Cover Maps/43Q_20200101-20210101.tif
Geospatial Data Science Internship/Datasets/ESRI Land Cover Maps/44Q_20200101-20210101.tif
DiCRA Plaform/docs/~$Dataset Information.xlsx
*.tif
