/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.reactour__popover {
  background-color: #1a2c45 !important;
  color: #fff !important;
  width: 100% !important;
}
body {
  font-family: proxima-nova, sans-serif;
}