.kh-section-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  height: 100%;
}

.kh-top-section {
  position: relative;
  top: 20%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.kh-top-left-section {
  display: flex;
  width: 33%;
}

.kh-top-left-section span {
  color: #143461;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 75px;
}

.kh-top-right-section {
  display: flex;
  width: 60%;
}

.kh-top-right-section span {
  color: #434343;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.kh-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 30px;
}

@media screen and (max-width: 768px) {
  .kh-section-container {
    padding-top: 6rem;
  }

  .kh-top-right-section span {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .kh-section-container {
    padding-top: 6rem;
  }

  .kh-top-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .kh-divider-section {
    display: none;
  }

  .kh-top-left-section {
    width: 100%;
  }

  .kh-top-left-section span {
    color: #143461;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 75px;
  }

  .kh-top-right-section {
    width: 100%;
  }
}
