.usecase-section-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  height: 100%;
  margin-top: 8%;
}

.usecase-heading {
  position: relative;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.usecase-heading-title {
  color: #143461;
  text-align: center;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.usecase-heading-subtitle {
  color: #434343;
  text-align: center;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
}
